*{
    margin: 0px;
    padding: 0px;
}
.section{
    width: 60%;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
    margin: auto;
    padding: 2%;
}
.image1{
    width: 75vw;
    display: flex;
    justify-content: space-evenly;
    margin: auto;
}
#search{
    width: 16px;
    height: 16px;
}
#applelogo{
    width: 16px;
    height: 16px;
}
#mac{
    width: 79px;
    height: 52px;
}
.mactxt{
    text-align: center;

}
.newtxt{
    margin-left: 1.5em;
}
#macbook{
    width: 79px;
    height: 52px;
    /* margin-left: 1em; */
}
.imactxt{
    margin-left: 1.5em;
}
.macminitxt{
    margin-left: .8em;
}
.macstudiotxt{
    margin-left: .8em;
}
.accessoriestxt{
    margin-left: .4em;
}
.educationsavingstxt{
    margin-top: 2em;
    font-size: 14px;
    text-align: center;
    background-color: rgb(197, 189, 189);
    padding: 12px;
}
.section2{
    display: flex;
    justify-content: space-between;
    margin-top: 7em;
}
.dreamtxt{
  display: flex;
  font-size: 40px;
  font-weight: bold;
  margin-right: 3em;
}
.bigmactxt{
    font-size: 60px;
    font-weight: 900;
    margin-left: 2em;
}
 video{
    width: 90vw;
    height: 90vh;
    margin-top: 3em;
    object-fit: fill;
    overflow: hidden;
    margin-left: 5em;
    
}
.knowtxt{
    font-size: 60px;
    margin-top: 1em;
    margin-left: 2em;
}
.image2{
    display: flex;
    /* justify-content: space-evenly; */
    padding-left: 5em;
    overflow: auto;
   
  
}
.section1img{
    width:405px;
    height: 740px;
    background-color: white;
    position: relative;
    margin-top: 2em;
    margin-left: 4em;
}
.hello{
    border-radius: 4em;
    box-shadow: 4px 15px 17px black;
 
    
}
.gettingtxt{
    position: absolute;
    right: 15em;
    top: 3em;
    color: white;
    font-size: 18px;
}
.easytxt{
    position: absolute;
    top: 3.5em;
    left: 1em;
    font-size: 25px;
    color: white;
    font-weight: 500;
}
.section1img2{
    width:405px;
    height: 740px;
    background-color: white;
    margin-top: 2em;
    margin-left: 1em;
    position: relative;
}
.women{
    margin-left: 1em;
    border-radius: 4em;
    box-shadow: 4px 15px 17px black;
    
}
.battertxt{
    position: absolute;
    bottom: 42em;
    left: 3em;
    color: white;
    font-weight: 500;
}
.fasttxt{
    position: absolute;
    bottom: 25em;
    left: 2em;
    color: white;
    font-weight: 500;
    font-size: 25px;
}
.macandiphonetxt{
    color: #1d1d1f;
}
.favouritetxt{
    color: #1d1d1f;
    top: 4.5em;
}
.nobodytxt{
    top: 4.5em;
}
.exploretxt {
    padding-top: 10x%;
    
}
.sectionbutton1{
    margin-left: 4em;
    display: flex;
    justify-content: left;
   
    
}
.laptops{
    padding: 3em;
}
#button1{
    
    width: 7em;
    border-radius: 21px;
    padding: 9px;
    background-color: #1d1d1f;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    margin-left: 5em;
  
   
}
#button2{
    width: 7em;
    border-radius: 21px;
    padding: 9px;
    background-color: #1d1d1f;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    margin-top: 2.89em;
    display: flex;
   
}
#button3{
    margin-left: 1em;
    width: 7em;
    border-radius: 21px;
    padding: 9px;
    background-color: #1d1d1f;
    color: #ffffff;
    text-align: center;
    font-size: 17px;
    margin-top: 2.89em;
    display: flex;
   
}
.buttonsection1{
    display: flex;
    margin-top: 2em;
    margin-left: 10em;
    /* position: relative; */
}
#macbook{
    width: 354px;
    height: 176px;
    position: relative;
    
}
#macpro{
    width: 354px;
    height: 176px;
}
.m3txt{
   text-align: center;
   margin-top: 10px;

}
